.extraInfo {
    font-style : italic !important;
}

.container {
  background-color : #f8f4f0 !important;
  padding          : 15px;
  border-radius    : 10px;
}

input[type=checkbox] {
    margin      : 4px 0 0;
    line-height : normal;
    width       : 25px;
    height      : 25px;
}
